<div class="container-bookings">
  <div class="bookings-wrapper">
    <div class="bookings-board">
      <% @owned_bookings.each do |booking| %>
     <div class="message">
         <%= image_tag booking.user.image, alt: "avatar-bordered", class:"avatar-large" %>
        <div class="message-name">
          <p><%= booking.start_date.strftime("%b-%d-%y")%></p>
          <h3><%= booking.user.identifierfull %></h3>
        </div>
        <div class="message-body">
          <div class="message-info">
            <div class="message-name-space">
              <span><strong><%= booking.parking.name %></strong></span>
              <div class="message-review">
                <ul class= "list-inline card-description-stars">
                  <li>
                    <% if booking.parking.reviews.empty? %>
                <% 5.times do %>
                  <i class="fas fa-star not-rated"></i>
                <% end %>
              <% else %>
                <% (booking.parking.reviews.map{|review| review.rating}.sum.to_f / booking.parking.reviews.size).round.times do %>
                <i class="fas fa-star rated"></i>
              <% end %>
                <% (5 - (booking.parking.reviews.map{|review| review.rating}.sum.to_f / booking.parking.reviews.size).round).times do %>
                <i class="fas fa-star not-rated"></i>
              <% end %>
              <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <p class="message-info-small"><%= booking.parking.address %></p>
           <div class="message-date">
             <i class="far fa-calendar-alt message-icon-info"></i><span><%= booking.start_date.strftime("%b-%d-%y %k:%M") %>  <i class="fas fa-arrow-right message-icon-info"></i>  <%= booking.end_date.strftime("%b-%d-%y %k:%M") %> </span>
           </div>
            <p>Car Plate: <span><strong><%= booking.car_plate.upcase %></strong></span></p>
           <div class="message-action-group">
             <div class="message-action">
              <%= link_to booking_path(booking) do %>
              <i class="far fa-circle message-border-i"><span>Go to Booking</span></i>
              <% end %>
              <%= link_to booking_path(booking, chat: :true) do %>
              <i class="far fa-comments message-border-i"><span>Chat</span><span id="chat-booking-<%= booking.id %>" style="color:orange;"></span></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <div class="message-status">
          <% if booking.status == "approved" %>
            <span class="status accepted"><%= booking.status.capitalize %></span>
            <i class="fas fa-check-circle message-approved-status"></i>
          <% elsif booking.status == "Pending" %>
          <span class="status pending"><%= booking.status.capitalize %></span>
          <i class="fas fa-exclamation-circle messsage-pending-status"></i>
          <% else %>
          <span class="status declined"><%= booking.status.capitalize %></span>
          <i class="fas fa-times-circle messsage-decline-status"></i>
          <% end %>
          <p class="message-price">$ <%= number_with_delimiter(booking.price_cents, :delimiter => ',') %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
