<div class="booking-wrapper">
  <div class="booking-summary">
    <div class="booking-head">
      <div class="booking-address">
        <span><%= @parking.address.truncate(27) %></span>
        <img class="avatar-large" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </div>
      <div class="booking-name">
        <span><%= @parking.name.truncate(21) %></span>
        <div class="booking-rating">
          <ul class= "list-inline booking-stars">
            <li>
              <% if @parking.reviews.empty? %>
              <% 5.times do %>
              <i class="fas fa-star not-rated"></i>
              <% end %>
              <% else %>
              <% @parking.rating.times do %>
              <i class="fas fa-star rated"></i>
              <% end %>
              <% (5 - @parking.rating).times do %>
              <i class="fas fa-star not-rated"></i>
              <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="booking-info">
        <div class="booking-features-group">
          <span><%= @parking.size %></span>
          <div class="list-inline booking-features">
            <% @features.each do |feature| %>
            <li>
              <% if @parking.includes_feature?(feature) %>
              <% url = cl_image_path feature.icon, height: 5, width: 5 %>
              <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.6;";" class="feature-icon-2">
                <% else %>
                <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.2;" class="feature-icon-2">
                  <% end %>
                </li>
                <% end %>
              </div>
            </div>
            <div class="booking-picture">
              <% if @parking.pictures.first.nil? %>
              <div class="card-img" style="background-image: url(<%= image_path 'logo_only_transparent.png' %>)">
              </div>
              <% else %>
              <div class="card-img" style="background-image: url('<%= cl_image_path @parking.pictures[0].picture %>'); width: 100%;">
              </div>
              <% end %>
            </div>
            <div class="booking-checkout">
              <table style="width:100%">
                <tr class="chekout-header">
                  <th>Arriving on:</th>
                  <th></th>
                  <th class="checkout-left">Leaving on:</th>
                </tr>
                <tr>
                  <td class="checkout-dates"><span>Feb 28 - 10:00 pm</span></td>
                  <td>
                    <i class="fas fa-arrow-right primary-color margin-icon"></i>
                  </td>
                  <td class="checkout-dates checkout-left"><span>Feb 28 - 18:00 pm</span></td>
                </tr>
                <tr>
                  <td class="checkout-description-link" colspan="3">
                    <a class= "link-more checkout-right" href="">edit</a>
                  </td>
                </tr>
                <tr>
                  <td class="checkout-hours checkout-right" colspan="3">8 hrs</span></td>
                </tr>
                <tr>
                  <td class="checkout-total checkout-right" colspan="3">
                    <p>Total price:<span>$ 400</span></p></td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>

        <div class="booking-complete-info">
          <div class="booking-car-info">
            <span class="booking-category">1. Personal information</span>
            <div class="booking-user-info">
              <span>User mail</span>
              <p><%= current_user.email %></p>
            </div>
            <div class="booking-car-plate">
              <div class="booking-car-form">
                <%= simple_form_for [@booking] do |f| %>
                <%= f.input :car_plate, label: "Phone number (in case you need to be contacted)", placeholder: "" %>
                <%= f.input :car_plate, label: "Car Plate", placeholder: "LLL-NNN / LL-NNN-LL" %>
              </div>
              <div class="booking-car-action">
                <%= f.button :submit, "Add car plate", class: "btn-meli-square-small"%>
                <% end %>
              </div>
            </div>
            <div class="booking-cta">
              <a class="btn-meli-square-small" href="">
                <div class="vertical-align-items">
                  Save and continue
                </div></a>
              </div>

          </div>
          <div class="booking-confirmation">
            <span class="booking-category">2. Payment information</span>
            <p class="booking-terms">Clicking below indicates that you have read and accept the Terms & Conditions</p>
            <div class="booking-cta">
              <a class="btn-meli-square-small" href="">
                <div class="vertical-align-items">
                  Book now  |
                  <strong>$ 50</strong>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>

