<div class="booking-wrapper">
  <div class="booking-summary">
    <div class="booking-head">
      <div class="booking-address">
        <span><%= @parking.address.truncate(27) %></span>
        <%= image_tag @parking.user.image, alt: "avatar-bordered", class:"avatar-large" %>
      </div>
      <div class="booking-name">
        <span><%= @parking.name.capitalize.truncate(27) %></span>
        <div class="booking-rating">
        <span><%= @parking.user.identifier %></span>
        </div>
      </div>
      <div class="booking-rating-group">
        <div class="booking-rating">
          <ul class= "list-inline booking-stars">
            <li>
              <% if @parking.reviews.empty? %>
                <% 5.times do %>
                  <i class="fas fa-star not-rated"></i>
                <% end %>
              <% else %>
                <% (@parking.reviews.map{|review| review.rating}.sum.to_f / @parking.reviews.size).round.times do %>
                <i class="fas fa-star rated"></i>
              <% end %>
                <% (5 - (@parking.reviews.map{|review| review.rating}.sum.to_f / @parking.reviews.size).round).times do %>
                <i class="fas fa-star not-rated"></i>
              <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="booking-info">
        <div class="booking-features-group">
          <span><%= @parking.size %></span>
          <div class="list-inline booking-features">
            <% @features.each do |feature| %>
            <li>
              <% if @parking.includes_feature?(feature) %>
              <% url = cl_image_path feature.icon, height: 5, width: 5 %>
              <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.6;";" class="feature-icon-2">
                <% else %>
                <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.2;" class="feature-icon-2">
                  <% end %>
                </li>
                <% end %>
              </div>
            </div>
            <div class="booking-picture">
              <% if @parking.pictures.first.nil? %>
              <div class="card-img" style="background-image: url(<%= image_path 'logo_only_transparent.png' %>)">
              </div>
              <% else %>
              <div class="card-img" style="background-image: url('<%= cl_image_path @parking.pictures[0].picture %>'); width: 100%;">
              </div>
              <% end %>
            </div>
            <div class="booking-full-address">
              <p class="booking-full-address-dir"> <%= @parking.address %></p>
            </div>
            <div class="booking-checkout">
              <table style="width:100%">
                <tr class="chekout-header">
                  <th>Arriving on:</th>
                  <th></th>
                  <th class="checkout-left">Leaving on:</th>
                </tr>
                <tr>
                  <td class="checkout-dates checkout-pad"><span><%= @booking.start_date.to_datetime.strftime("%b-%d %H:%M") %></span></td>
                  <td>
                    <i class="fas fa-arrow-right primary-color margin-icon"></i>
                  </td>
                  <td class="checkout-dates checkout-left checkout-pad"><span><%= @booking.end_date.to_datetime.strftime("%b-%d %H:%M") %></span></td>
                </tr>
                <tr>
                  <td class="checkout-hours checkout-right" colspan="3"><span><%= ((@booking.end_date.to_datetime - @booking.start_date.to_datetime).to_f * 24).ceil %> hrs</span></td>
                </tr>
                <tr>
                  <td class="checkout-total checkout-right" colspan="3">
                    <p>Total price:<span>$ <%= number_with_delimiter(((@booking.end_date.to_datetime - @booking.start_date.to_datetime).to_f * 24).ceil * @parking.price_cents.to_i , :delimiter => ',')  %></span></p>
                    <p class="chekout-per-hour">(<%= @parking.price_cents %>/hr)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to "go back", parkings_path(:starting => @booking.start_date.to_datetime.strftime("%b-%d %H:%M"), :ending => @booking.end_date.to_datetime.strftime("%b-%d %H:%M"), :lat_long => [@parking.latitude, @parking.longitude], :address => @parking.address), class:"btn-meli-square-small"  %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="booking-complete-info">
        <div class="booking-car-info">
          <span class="booking-category">1. Personal information</span>
          <div class="booking-user-info">
            <span>User mail</span>
            <p><%= current_user.email %></p>
          </div>
          <div class="booking-car-plate">
            <div class="booking-car-form">
              <div class="form-group tel optional booking_phone_number">
                <label class="form-control-label tel optional" for="phone_number">Phone number (in case you need to be contacted)</label>
                <input class="form-control string tel optional" placeholder="" type="tel" name="phone_number" id="phone_number" />
              </div>
              <div class="form-group string optional booking_car_plate">
                <label class="form-control-label string optional" for="car_plate">Car Plate</label>
                <input class="form-control string optional" placeholder="LLL-NNN / LL-NNN-LL" type="text" name="" id="car_plate" />
              </div>
            </div>
            <div class="booking-car-action">
              <input type="submit" name="" value="Add car plate" class="btn btn-meli-square-small disabled" id="add_car" disabled="disabled" />
            </div>
          </div>
          <div class="booking-cta">
            <input type="submit" name="" value="Save and continue" class="btn btn-meli-square-small disabled" id="save-and-continue" disabled="disabled" />
          </div>

        </div>
        <div class="booking-confirmation">
          <span class="booking-category">2. Payment information</span>
          <p class="booking-terms">Clicking below indicates that you have read and accept the Terms & Conditions</p>
          <div class="booking-cta">
            <a class="" href="" style="text-decoration: none;">
              <div class="vertical-align-items">
                <input type="submit" name="commit" value="Pay & Reserve" label="Book now | <%= ((@booking.end_date.to_datetime - @booking.start_date.to_datetime).to_f * 24).ceil * @parking.price_cents.to_i %>" class="btn btn-meli-square-small disabled" data-disable-with="Create Booking" disabled="disabled" id="payment">

                <div style="display: none;">
                  <form action="/parkings/<%= @parking.id %>/bookings" method="POST">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                    <div class="form-group hidden booking_phone_number">
                      <input class="form-control hidden" type="hidden" name="booking[phone_number]" id="booking_phone_number">
                    </div>
                    <div class="form-group hidden booking_car_plate">
                      <input class="form-control hidden" type="hidden" name="booking[car_plate]" id="booking_car_plate">
                    </div>
                    <div class="form-group hidden booking_start_date form-group-valid">
                      <input class="form-control is-valid hidden" type="hidden" value="<%= @booking.start_date %>" name="booking[start_date]" id="booking_start_date">
                    </div>
                    <div class="form-group hidden booking_end_date form-group-valid">
                      <input class="form-control is-valid hidden" type="hidden" value="<%= @booking.end_date %>" name="booking[end_date]" id="booking_end_date">
                    </div>
                    <div class="form-group hidden booking_parking form-group-valid">
                      <input class="form-control is-valid hidden" type="hidden" value="<%= ((@booking.end_date.to_datetime - @booking.start_date.to_datetime).to_f * 24).ceil * @parking.price_cents.to_i %>" name="booking[price_cents]" id="booking_price_cents">
                    </div>
                    <script
                    src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
                    data-public-key="<%= ENV['PUBLIC_KEY'] %>"
                    data-transaction-amount="<%= ((@booking.end_date.to_datetime - @booking.start_date.to_datetime).to_f * 24).ceil * @parking.price_cents.to_i %>">
                  </script>
                </form>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
























