<div class="lot" id="<%= parking.id %>" style="display: none;">
 <i class="fas fa-times-circle close-popup"></i>
  <div class="lot-head">
    <div class="lot-address">
      <span><%= parking.address.truncate(27) %></span>
      <img class="avatar-large" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </div>
    <div class="lot-name">
      <span><%= parking.name.truncate(21) %></span>
      <div class="lot-rating">
        <ul class= "list-inline lot-stars">
         <li>
          <% if parking.reviews.empty? %>
          <% 5.times do %>
          <i class="fas fa-star not-rated"></i>
          <% end %>
          <% else %>
          <% parking.rating.times do %>
          <i class="fas fa-star rated"></i>
          <% end %>
          <% (5 - parking.rating).times do %>
          <i class="fas fa-star not-rated"></i>
          <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="lot-info">
    <span><%= parking.size %></span>
    <div class="popup-features">
      <ul class= "list-inline lot-features popup-mgn">
        <% @features.each do |feature| %>
        <li>
          <% if parking.includes_feature?(feature) %>
          <% url = cl_image_path feature.icon, height: 5, width: 5 %>
          <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.6;";" class="feature-icon-3">
            <% else %>
            <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.2;" class="feature-icon-3">
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="lot-cta">
          <a class="round-buttom" href="">
            <div class="vertical-align-items">
              Book now  |
              <strong>$ <%= parking.price_cents %></strong>
            </div></a>
          </div>
          <div class="popup-dates">
            <span>Feb 28 - 10:00 pm</span>
            <i class="fas fa-arrow-right primary-color margin-icon"></i>
            <span>Feb 28 - 18:00 pm</span>
          </div>
        </div>
      </div>
      <div class="lot-description">
        <div class="lot-description-details">
          <span class="lot-category">Space details</span>
          <div class="lot-description-distance">
            <i class="fas fa-male lot-distance"></i>
            <span>0.26km</span>
          </div>
        </div>
        <p> <%= parking.description %></p>
        <div class="lot-description-link">
          <a class= "link-more" href="">Read More</a>
          <i class="fas fa-chevron-down primary-color icon-size"></i>
        </div>
      </div>
      <div class="lot-photo-wrapper">
        <span class="lot-category">Photos</span>
        <div class="lot-photo-group">
          <div class="lot-photo-big" style="background-image: url('<%= cl_image_path parking.pictures[0].picture %>')"></div>
          <div class="photo-group-2">
            <div class="lot-photo-small photo-top" style="background-image: url('<%= cl_image_path parking.pictures[1].picture %>')"></div>
            <div class="lot-photo-small" style="background-image: url('<%= cl_image_path parking.pictures[2].picture %>')"></div>
          </div>
        </div>
      </div>
      <div class="lot-reviews">
        <span class="lot-category">Reviews</span>
        <%= render "shared/review" %>
        <div class="lot-review-link">
          <a class="link-more" href="">Read More Reviews</a>
          <i class="fas fa-chevron-down primary-color icon-size"></i>
        </div>
      </div>
    </div>


