<div class="lot" id="<%= parking.id %>" style="display: none;">
  <div class="lot-close-group">
    <i class="fas fa-times-circle close-popup lot-close"></i>
  </div>
 <div class="lot-head">
  <div class="lot-address">
    <span><%= parking.address.truncate(27) %></span>
    <%= image_tag parking.user.image, alt: "avatar-bordered", class:"avatar-large" %>
  </div>
  <div class="lot-name">
    <span><%= parking.name.truncate(26).capitalize %></span>
  <span><%= parking.user.identifier %></span>

</div>
<div class="lot-info">
  <div class="lot-name">
  <p><%= parking.size %></p>
    <div class="lot-rating">
      <ul class= "list-inline lot-stars">
       <li>
        <% if parking.reviews.empty? %>
          <% 5.times do %>
            <i class="fas fa-star not-rated"></i>
          <% end %>
        <% else %>
          <% (parking.reviews.map{|review| review.rating}.sum.to_f / parking.reviews.size).round.times do %>
          <i class="fas fa-star rated"></i>
        <% end %>
          <% (5 - (parking.reviews.map{|review| review.rating}.sum.to_f / parking.reviews.size).round).times do %>
            <i class="fas fa-star not-rated"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
  </div>
  <div class="popup-features">
    <ul class= "list-inline lot-features popup-mgn">
      <% @features.each do |feature| %>
      <li>
        <% if parking.includes_feature?(feature) %>
        <% url = cl_image_path feature.icon, height: 5, width: 5 %>
        <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.6;";" class="feature-icon-3">
          <% else %>
          <div style="background-image: url('<%= cl_image_path feature.icon, height: 5, width: 5 %>'); opacity: 0.2;" class="feature-icon-3">
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="lot-cta">
        <%= link_to new_parking_booking_path(parking_id: parking.id, start_date: @dates.first, end_date: @dates.last), class:"round-buttom" do %>
        <div class="vertical-align-items">
          Book now  |
          <strong>$ <%= number_with_delimiter(((@dates.last.to_datetime - @dates.first.to_datetime).to_f * 24).ceil * parking.price_cents.to_i , :delimiter => ',') %></strong>
        </div>
        <% end %>
      </div>
      <div class="popup-dates">
        <span><%= @dates[0] %></span>
        <i class="fas fa-arrow-right primary-color margin-icon"></i>
        <span><%= @dates[1] %></span>
      </div>
    </div>
  </div>
  <div class="lot-description">
    <div class="lot-description-details">
      <span class="lot-category">Space details</span>
      <div class="lot-description-distance">
        <i class="fas fa-male lot-distance"></i>
        <span><%= parking.distance_from(@lat_long).to_d.round(2,:truncate).to_f %>km</span>
      </div>
    </div>
    <p> <%= parking.description %></p>
    <div class="lot-description-link">
      <a class= "link-more" href="">Read More</a>
      <i class="fas fa-chevron-down primary-color icon-size"></i>
    </div>
  </div>
  <div class="lot-photo-wrapper">
    <span class="lot-category">Photos</span>
    <% if parking.pictures.count == 3 %>
    <div class="lot-photo-group">
      <div class="lot-photo-big" style="background-image: url('<%= cl_image_path parking.pictures[0].picture %>')">
      </div>
      <div class="photo-group-2">
        <div class="lot-photo-small photo-top" style="background-image: url('<%= cl_image_path parking.pictures[1].picture %>')"></div>
        <div class="lot-photo-small" style="background-image: url('<%= cl_image_path parking.pictures[2].picture %>')">
        </div>
      </div>
    </div>
    <% elsif parking.pictures.count == 2 %>
    <div class="lot-photo-group">
      <div class="lot-photo-big" style="background-image: url('<%= cl_image_path parking.pictures[0].picture %>')">
      </div>
      <div class="lot-photo-big" style="background-image: url('<%= cl_image_path parking.pictures[1].picture %>')">
      </div>
    </div>
    <% elsif parking.pictures.count == 1 %>
    <div class="lot-photo-group">
      <div class="lot-photo-big" style="background-image: url('<%= cl_image_path parking.pictures[0].picture %>')">
      </div>
    </div>
    <% else %>
    <div class="lot-photo-group">
      <div class="lot-photo-big" style="background-image: url(<%= image_path 'logo_only_transparent.png' %>); background-size: contain; background-repeat: no-repeat;">
      </div>
    </div>
    <% end %>
  </div>
  <div class="lot-reviews">
    <span class="lot-category">Reviews</span>
      <% parking.bookings.each do |booking| %>
        <% if !booking.reviews.last.nil? %>
          <%= render "shared/review", booking: booking %>
        <% else %>
        <% end %>
      <% end %>
    <div class="lot-review-link">
      <a class="link-more" href="">Read More Reviews</a>
      <i class="fas fa-chevron-down primary-color icon-size"></i>
    </div>
  </div>
</div>


