<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(https://res.cloudinary.com/nikoi4/image/upload/v1551219919/sahin-yesilyaprak-1207014-unsplash_1.jpg);">
<%= form_for(@search) do |f| %>

<div class="search-wrapper">
  <div class="search-content">
    <div class="search-content-title">
      <span>Parking at</span>
    </div>
    <div class="search-content-input">
      <%= f.text_field :address %>
      <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
  <div class="search-content">
    <div class="search-content-title">
      <span>Arriving on</span>
    </div>
    <div class="search-content-input">
      <%= f.text_field :starting, placeholder: "Where do you want to park?" %>
      <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
  <div class="search-content">
    <div class="search-content-title">
      <span>Arriving on</span>
    </div>
    <div class="search-content-input">
      <%= f.text_field :ending, placeholder: "Select day and time" %>
      <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
  <div class="search-submit">
    <%= f.submit "Show parking spaces" %>
  </div>
</div>

<% end %>

</div>
