<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(https://res.cloudinary.com/nikoi4/image/upload/v1551219919/sahin-yesilyaprak-1207014-unsplash_1.jpg);">
<%= simple_form_for(@search) do |f| %>

<div class="search-wrapper">
  <div class="search-content" id="search-address">
    <div class="search-content-title">
      <span>Parking</span>
    </div>
    <div class="search-content-input">
      <%= f.text_field :address, placeholder: "Where do you want to park?" %>
      <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
  <div class="search-content search-date">
    <div class="search-content-title">
      <span>Arriving</span>
    </div>
    <div class="search-content-input">
      <%= f.input :starting, as: :string, required: false, input_html: { class: "datepicker", placeholder: "Select day and time", label: false }, label_html: { style: 'display: none' }, wrapper_html: { style: 'margin-bottom: 0;' } %>
      <i class="fas fa-chevron-down primary-color"></i>
    </div>
  </div>
  <div class="search-content search-date">
    <div class="search-content-title">
      <span>Leaving</span>
    </div>
    <div class="search-content-input">
      <%= f.input :ending, as: :string, required: false, input_html: { class: "datepicker", placeholder: "Select day and time" }, label_html: { style: 'display: none' }, wrapper_html: { style: 'margin-bottom: 0;' } %>
    <i class="fas fa-chevron-down primary-color"></i>
    </div>
  </div>
  <div class="search-submit">
    <%= f.submit "Show parking spaces" %>
  </div>
</div>

<% end %>

</div>
