<div class="container">
  <div class= "row">
<div class="col-sm-offset-3 col-sm-6">

<div class="form-login">
<h2>Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                placeholder: "Email",
                label: false,
                required: false,
                autofocus: false,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                placeholder: "Password",
                label: false,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label_html: { style: 'padding-left: 10px; position: relative; top: 2px; font-weight: lighter;' }, as: :boolean if devise_mapping.rememberable? %>
  </div>


  <div class="form-actions align-meli">
     <%= f.button :submit, "Log in", class: "btn-meli" %>

  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>

