<div style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url('<%= cl_image_path 'https://res.cloudinary.com/nikoi4/image/upload/v1551219919/sahin-yesilyaprak-1207014-unsplash_1.jpg' %>'); position: center; background-size: cover;" class="container-fluid parkingnew">
  <div class="form-wrapper">
    <div class="form">
      <%= simple_form_for(@parking) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :picture %>
        <%= f.input :size %>
        <%= f.input :price_cents %>
        <%= f.input :features %>
        <div class="features">
          <span>Features
            <ul class="feature-icons">
              <% @features.each do |feature| %>
              <li>
                <!-- <p><%= feature.name %></p> -->
                <div style="background-image: url('<%= cl_image_path feature.icon, height: 200, width: 200 %>');" class="feature-icon">
                </div>
              </li>
              <% end %>
            </ul>
          </span>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
