<div class="new-parking-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4">
      <div class="form-parking">
        <h1>List your Space</h1>
        <%= simple_form_for(@parking) do |f| %>
          <%= f.input :name, placeholder: "Great Parking Lot..." %>
          <%= f.input :address, placeholder: "Coronel Niceto Vega 2222, CABA" %>
          <%= f.input :description, label:"Description (min. 20 characters)", placeholder: "Your lot description" %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :size, collection: Parking::SIZE_CAR, prompt: "Car size?" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :price_cents, label: "Price / hr",placeholder: "50.00 $/hr" %>
          </div>
        </div>
          <!-- Inject categories here -->
          <div class="features">
            <label class="control-label check_boxes optional">Features</label>
            <input type="hidden" name="parking[feature_ids][]" value="">
            <div class="feature-choices">
              <% Feature.all.each do |feature| %>
              <div>
                <input type="checkbox" class="hidden" value="<%= feature.id %>" name="parking[feature_ids][]" id="parking_feature_ids_<%= feature.id %>">
                <label class="feature-choice" for="parking_feature_ids_<%= feature.id %>">
                  <!-- <%= feature.name %> -->
                  <div style="background-image: url('<%= cl_image_path feature.icon, height: 200, width: 200 %>');" class="feature-icon">
                  </div>
                </label>
                </div>
              <% end %>
             </div>
          </div>
          <div class="form-img">
            <span>Images</span>
            <%= f.simple_fields_for :pictures do |p| %>
              <%= p.input :picture, input_html: { class: 'hidden'},label_html: { class: 'upload-photo fas fa-plus-circle'}, label: '' %>
            <% end %>
            <%= f.simple_fields_for :pictures do |p| %>
              <%= p.input :picture, input_html: { class: 'hidden'},label_html: { class: 'upload-photo fas fa-plus-circle'}, label: '' %>
            <% end %>
            <%= f.simple_fields_for :pictures do |p| %>
              <%= p.input :picture, input_html: { class: 'hidden'},label_html: { class: 'upload-photo fas fa-plus-circle'}, label: '' %>
            <% end %>
          </div>
          <div class="new-parking-submit-wrapper">
            <%= f.submit "Save", class: "btn btn-meli"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
